<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace=绑定一个对应的Dao/Mapper接口
    namespace命名空间表示绑定的接口全限定类名
-->
<mapper namespace="com.zwx.dao.PaymentDao">

    <insert id="create" parameterType="Payment">
        insert into payment(serial) values (#{serial})
    </insert>

    <select id="getPaymentById" resultType="Payment">
        select * from payment where id=#{id}
    </select>

</mapper>